{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ game.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ game.genre }} | {{ game.year }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in game.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ game.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <!-- Review Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for review in reviews %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1> {{ review.title }}</h1>
                            <p class="card-text">
                                Author: {{ review.username }}
                            </p>
                            <p class="card-text">
                                Date: {{ review.created_on }}
                            </p>
                            <p class="card-text">
                                {{ review.content | safe}}
                            </p>  
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
    
    


{% endblock content %}